<input type="text" [(ngModel)]="title" name="title" placeholder="Title">
<input type="text" [(ngModel)]="time" name="time" placeholder="Time">
<input type="text" [(ngModel)]="date" name="date" placeholder="Date">
<!--<textarea [(ngModel)]="content" name="content" placeholder="Content.."></textarea>
<input type="submit" value="Add a post" (click)="addPost()">-->
<input type="submit" value="Add an event" (click)="addEvent()">

<ul *ngFor="let post of posts | async">
	<li (click)="getPost(post.id)">
		<h3>{{ post.data.title }}</h3>
		<p><strong>{{ post.data.date }}</strong></p>
		<p>{{ post.data.content }}</p>
	</li>
</ul>

<h1>A specific event:</h1>

<h3>{{ (post | async)?.title }}</h3>
<p>{{ (post | async)?.date }}</p>
<p>{{ (post | async)?.content }}</p>
